<div class="page">
  <header class="layout-header-container">
    <div class="bread-crumbs">
      <span>Home</span>
      <i class="fas fa-chevron-right"></i>
      <span>Meus dados</span>
    </div>
    <div class="layout-header-content">
      <i class="fas fa-user"></i>
      <div>Meus dados</div>
    </div>
  </header>
  
  <div class="meus-dados-container animeleft">
    <div class="meus-dados-container-content">
      <div>
        <app-dados-pessoais></app-dados-pessoais>
      </div>
      <div>
        <app-dados-contato></app-dados-contato>
      </div>
      <div>
        <app-dados-pagamento></app-dados-pagamento>
      </div>    
    </div>
  </div>
</div>