.sobre-container{
    color: white;
    height: 100vh;
}
.sobre{

    width: 50%;
    display:inline-block;

}
.imagemLocal{

    width: 40%;
    display: inline-block;

}
#local{

    width: 30%;
    
}