.sobre-container{
    padding: 20px 40px;
    color: white;
    background: var(--secundary);
}
.sobre{

    width: 50%;
    display:inline-block;

}
.imagemLocal{

    width: 80%;
    display: inline-block;

}
#local{

    width: 30%;
    
}
footer {

    padding: 40px 20px;

  }
  footer .footer-sociais {

    margin-top: 30px;

  }
  footer .footer-sociais i {

    font-size: 2rem;
    margin: 10px;

  }
  .text-center {

    text-align: center;
    color: pink;
    
  }
  .primary--text {

    color: black;

  }