<div class="collapse-dados-container" *ngIf="user">
  <div class="collapse-dados-container-header" (click)="isOpen = !isOpen">
    <div class="collapse-dados-container-title">
      Dados de pagamento
    </div>
    <div class="collapse-dados-icon" [ngClass]="{'__is-open': isOpen}">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <div class="collapse-dados-container-content" *ngIf="isOpen">
    <app-credit-card
      [validade]="user.validade"
      [titular]="user.titular"
      [cvc]="user.cvc"
      [cadastro]="cadastro"
      [numeroCartao]="user.numeroCartao"
    ></app-credit-card>
  </div>
</div>