<div *ngIf="isLoaded" class="style-default">
    <app-btn-voltar></app-btn-voltar>
    <div class="plano-container animedown">
<h1 class="titulo">{{ plano.titulo }}</h1>
<h2>R${{ plano.preco }}</h2>
<h3>/mês</h3>
<h4 class="descricao">{{ plano.descricao }}</h4>
<img src="{{ plano.imgPath }}">
<p class="texto-comprar">Compre este plano aqui!</p>
<div class="form-comprar">
    <label for="nome-do-plano">Plano desejado</label>
    <input id="nome-do-plano" value="{{ plano.titulo }}" readonly>
</div>
</div>
</div>
