<div *ngIf="isLoaded" class="style-default">
    <div class="plano-container animedown">
<h1 class="titulo">{{ plano.titulo }}</h1>
<div class="preco">
<h2>R${{ plano.preco }}</h2>
<h3>/mês</h3>
</div>
<h4 class="descricao">{{ plano.descricao }}</h4>
<img class="imagem" src="{{ plano.imgPath }}">
<p class="texto-comprar">Compre este plano aqui!</p>
<div class="form-comprar">
    <label for="nome-do-plano">Plano desejado</label>
    <input id="nome-do-plano" value="{{ plano.titulo }}" readonly>
</div>
</div>
</div>
