.plano-container {
 color: var(--text);
 background: var(--secundary);
 margin: 40px 200px 0px 200px;
}
.titulo {
     color: white;
     font-size: 60px;
     font-weight: 800;
     text-align: center;
 }

 h2, h3 {
     display: inline-block;
 }

 h2 {
     font-size: 20px;
 }

 h3 {
     font-size: 17px;
 }

 .descricao {
     margin-top: 10px;
     margin-right: 300px;
     margin-bottom: 20px;
 }

 .imagem {
     width: 50%;
     border-radius: 5px;
 }
.texto-comprar {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 400;
}