<div class="style-default">
  <div class="contato-container">
    <div class="form-container animedown">
      <div class="form-box">
        <form>
          <label class="form-label">Nome:</label>
          <input
            type="text"
            formControlName="user"
            placeholder="Seu nome"
            tabindex="1"
            autofocus="autofocus"
          />

          <label class="form-label">Email:</label>
          <input
            type="email"
            formControlName="mail"
            tabindex="2"
            placeholder="Seu e-mail"
          />

          <label class="form-label">Mensagem:</label>
          <input
            type="textarea"
            formControlName="msg"
            tabindex="1"
            placeholder="Digite aqui o motivo do seu contato"
          />

          <div>
            <button name="submit" type="submit" id="submit">ENVIAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
