.contato-container {
  padding: 5%;
  color: var(--text);
  background-color: var(--secundary);
}

.form-container{
   width: 525px;
   margin: 0 auto;
   border-radius: 8px;
   color: var(--secundary);
   background: var(--constrast);
   padding: 32px;
}

.form-label{
   margin-bottom: 8px;
   font-weight: 600;
   font-size: 1.2rem;
}

.form-box {
   opacity: 90%;
   padding: 2rem;
   border-radius:8px;
   background: var(--constrast);
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
   width: 100%;
   max-width: 500px;
}

.form-container input
{
   width: 100%;
   outline:none;
   font-size: 14px;
   line-height: 13px;
   border-radius: 6px;
   padding: 12px 10px;
   color: var(--text-input);
   border: 1px solid #cecece;
   background: var(--text);
   -webkit-tap-highlight-color: transparent;
   margin-bottom: 25px;
}

.form-container input:focus{
   border: 1px solid var(--primary);
}

.form-container button[type="submit"] {
   cursor:pointer;
   width:93%;
   border:none;
   background:#f42ba7;
   color:#FFF;
   margin:3%;
   padding:10px;
   border-radius:5px;
   box-shadow: 0 0 0 3px #dd88bc, 0 0 0 4px var(--primary);
}

button[type="submit"] {
   width:93%;
}

.form-container button[type="submit"]:hover {
   background:#FFF;
   color:var(--primary);
   border:1px solid;
}

input:required, textarea:required{
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
}

.error-message {
  font-size: 13px;
  margin-bottom: 16px;
  color: red;
}

/* Make form look nice on smaller screens */
@media (max-width: 500px) {
   .form-container {
      width: 100%;
   }
}
