<div class="style-default">
  <div class="login-container animedown">
    <div class="form-container">
      <div class="form-box">
        <form [formGroup]="formGroup">

          <label class="form-label">Usuário:</label>
          <div [ngClass]="setClassError('user')">
            {{ getErrorMessage('user') }}
          </div>
          <input type="text" formControlName="user" placeholder="Seu email"
            tabindex="1" autofocus="autofocus" />


          <label class="form-label">Senha:</label>
          <div [ngClass]="setClassError('pass')">
            {{ getErrorMessage('pass') }}
          </div>
          <input type="password" formControlName="pass" value="" placeholder="Sua senha"/>


          <div *ngIf="showLoginError" class="error-message">
            {{ msgErro }}
          </div>
          <div>
            <button name="submit" type="submit" id="submit" (click)="login()">LOG IN</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
