<div class="style-default">
  <div class="login-container">
    <div class="form-container">
      <div class="form-box">
        <form [formGroup]="formGroup">

          <label class="form-label">Usuário:</label>
          <input type="text" formControlName="user" placeholder="Seu nome de usuario"
            tabindex="1" autofocus="autofocus" />
          <div [ngClass]="setClassError('user')">
            {{ getErrorMessage('user') }}
          </div>


          <label class="form-label">Senha:</label>
          <input type="password" formControlName="pass" value="" placeholder="Sua senha"/>
          <div [ngClass]="setClassError('pass')">
            {{ getErrorMessage('pass') }}
          </div>

          <div>
            <button name="submit" type="submit" id="submit" (click)="login()">LOG IN</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
