@import '../cadastro/cadastro.component.css';

.message-success-container {  
 width: 525px;
 margin: 0 auto;
 border-radius: 8px;
 color: var(--secundary);
 background: var(--constrast);
 margin-top: 32px;
 padding: 32px;
}

.message-success {
 padding: 2rem;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.message-success-content h1 {
 font-weight: bold;
 font-size: 24px;
 margin-bottom: 16px;
}

.message-success-content p {
 font-weight: 500;
 margin-bottom: 16px;
}

.welcome-to-my-gym {
 display: flex; 
 justify-content: center; 
 font-size: 16px;
}

.welcome-to-my-gym span{
 color: var(--primary);
 font-weight: bold;
}