<div class="page" *ngIf="user">
  <header class="layout-header-container">
    <div class="bread-crumbs">
      <span>Home</span>
    </div>
    <div class="layout-header-content">
      <i class="fas fa-home"></i>
      <div>Home</div>
    </div>
  </header>

  <div class="home-container animeleft">
    <div class="home-container-content">
      <img src="../../../assets/motivacional.png" alt="">
      <div class="text-message">
        <p>Olá {{ user.nome }}</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, doloribus. Asperiores omnis consequuntur enim
          reiciendis quisquam ea mollitia corrupti adipisci!
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur architecto facere assumenda eaque.
          Commodi iusto ex excepturi enim voluptates quam nobis, vero illum non placeat dignissimos, molestiae impedit
          laudantium. Culpa.</p>
      </div>
    </div>
  </div>
</div>