<div class="navbar-container">
  <nav class="navbar-container-content">
    
    <ul class="login-cadastro">
      <li class="login-cadastro-item">
        <i class="fas fa-external-link-square-alt login-cadastro-icon"></i>
        <a class="login-cadastro-link" [routerLink]="['/login']" routerLinkActive="active-route">
          <span>Login</span>
        </a>
      </li>
      <li class="login-cadastro-item">
        <i class="fas fa-external-link-square-alt login-cadastro-icon"></i>
        <a class="login-cadastro-link" [routerLink]="['/cadastro']" routerLinkActive="active-route">
          <span>Cadastro</span>
        </a>
      </li>
    </ul>

    <ul class="menu-list">
      <li class="menu-list-item">
        <a [routerLink]="['/planos']" routerLinkActive="active-route">Planos</a>
      </li>
      <li class="menu-list-item">
        <a [routerLink]="['/sobre']" routerLinkActive="active-route">Sobre</a>
      </li>
      <li class="menu-list-item">
        <a>Agendamento</a>
      </li>
      <li class="menu-list-item">
        <a [routerLink]="['/contato']" routerLinkActive="active-route">Contato</a>
      </li>
    </ul>
  </nav>

  <div class="navbar-logo">
    <img src="../../../assets/logo-man.png" alt="logo">
  </div>

  <div class="border-bottom"></div>
</div>
