.navbar-container {
  position: absolute;
  height: 250px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar-container::before {    
  content: "";
  background-image: url('../../../assets/academia-5.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.navbar-container-content {
  width: 600px;
  margin-bottom: 24px;
}

.login-cadastro {
  position: absolute;
  display: flex;
  top: 50px;
  right: 100px;
  color: var(--text);
  list-style: none; 
}

.login-cadastro-item {
  position: relative;
  margin-right: 18px;
}

.login-cadastro-link span {
  position: relative;
  cursor: pointer;
  font-size: 18px;
}

.login-cadastro-icon {
  margin-right: 8px;
  color: var(--primary);
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu-list-item {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  color:  var(--text);
}

.active-route::after,
.login-cadastro-link span::after,
.menu-list-item::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  top: 1.5rem;
  left: 0;  
  border-radius: 2px;
  transform: scaleX(0);
  background: var(--primary);
  border: 1px solid var(--primary);
  transition: transform 300ms ease;
  box-shadow: inset 0 0 0.5em 0 var(--primary), 0 0 0.5em 0 var(--primary);  
}

.active-route::after {
  transform: scaleX(1);
}

.login-cadastro-link span:hover::after,
.menu-list-item:hover::after {
  transform: scaleX(1);
}

.login-cadastro-link,
.menu-list-item a {
  text-decoration: none;
}

.login-cadastro-link,
.menu-list-item a:visited {
  color: var(--text);
}

.navbar-logo {
  z-index: 1;
  position: absolute;
  top: 141px;
}

.navbar-logo img {
  width: 130px;
}

@media (max-width: 500px) {
  .navbar-container-content {
     width: 100%;
  }
}