<div class="style-default">
    <div class="sobre-container animedown">
        <div>
            <div class="sobre">
                <h2>Musculação</h2>
                <p>Academia altamente equipada para você que deseja fazer um treino bem localizado ou ganhar massa magra nas regioes que precisa. Atenção individualizada e treinos feitos especialmente para as suas necessidades. Tem algum problema físico prévio? Fratura, rompimento, ou enfraquecimento de alguma região? Trabalhamos apneas com profissionais formados e prontos para cuidar da sua saúde. Acima de tudo você vai trabalhar o que precisa ser trablhado e fortalecer o que precisa ser fortalecido. </p>
            </div>
            <figure class="imagemLocal">
                <img id="local" src="../../../assets/imgs/musculação.jpg"/>
            </figure>
        </div>
        <div>
            <div class="sobre">
                <h2>Musculação</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce diam dolor, venenatis vitae fringilla eget, pretium in nunc. In turpis est, eleifend molestie molestie pretium, aliquam non neque. Etiam porttitor sem nulla, eget laoreet elit rhoncus quis. Suspendisse vitae mollis enim, non consectetur nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue accumsan eros, id consectetur quam accumsan dignissim. Nulla et lacus leo. Proin nibh mauris, congue id nisi id, placerat iaculis velit. Quisque eget nibh nec felis euismod gravida sed a risus. Donec scelerisque metus justo, eu sagittis quam congue in. Vivamus eu placerat dui. Nullam at elit in purus interdum pretium eleifend sed augue. Vivamus nunc ipsum, porta ac ullamcorper in, iaculis quis elit.</p>
            </div>
            <figure class="imagemLocal">
                <img id="local" src="../../../assets/imgs/musculação2.jpg"/>
            </figure>
        </div>
        <div>
            <div class="sobre">
                <h2>Musculação</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce diam dolor, venenatis vitae fringilla eget, pretium in nunc. In turpis est, eleifend molestie molestie pretium, aliquam non neque. Etiam porttitor sem nulla, eget laoreet elit rhoncus quis. Suspendisse vitae mollis enim, non consectetur nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue accumsan eros, id consectetur quam accumsan dignissim. Nulla et lacus leo. Proin nibh mauris, congue id nisi id, placerat iaculis velit. Quisque eget nibh nec felis euismod gravida sed a risus. Donec scelerisque metus justo, eu sagittis quam congue in. Vivamus eu placerat dui. Nullam at elit in purus interdum pretium eleifend sed augue. Vivamus nunc ipsum, porta ac ullamcorper in, iaculis quis elit.</p>
            </div>
            <figure class="imagemLocal">
                <img id="local" src="../../../assets/imgs/musculação3.jpg"/>
            </figure>
        </div>
        <div>
            <div class="sobre">
                <h2>Pilates</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce diam dolor, venenatis vitae fringilla eget, pretium in nunc. In turpis est, eleifend molestie molestie pretium, aliquam non neque. Etiam porttitor sem nulla, eget laoreet elit rhoncus quis. Suspendisse vitae mollis enim, non consectetur nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue accumsan eros, id consectetur quam accumsan dignissim. Nulla et lacus leo. Proin nibh mauris, congue id nisi id, placerat iaculis velit. Quisque eget nibh nec felis euismod gravida sed a risus. Donec scelerisque metus justo, eu sagittis quam congue in. Vivamus eu placerat dui. Nullam at elit in purus interdum pretium eleifend sed augue. Vivamus nunc ipsum, porta ac ullamcorper in, iaculis quis elit.</p>
            </div>
            <figure class="imagemLocal">
                <img id="local" src="../../../assets/imgs/pilates.jpg"/>
            </figure>
        </div>
        <div>
            <div class="sobre">
                <h2>Dança</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce diam dolor, venenatis vitae fringilla eget, pretium in nunc. In turpis est, eleifend molestie molestie pretium, aliquam non neque. Etiam porttitor sem nulla, eget laoreet elit rhoncus quis. Suspendisse vitae mollis enim, non consectetur nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue accumsan eros, id consectetur quam accumsan dignissim. Nulla et lacus leo. Proin nibh mauris, congue id nisi id, placerat iaculis velit. Quisque eget nibh nec felis euismod gravida sed a risus. Donec scelerisque metus justo, eu sagittis quam congue in. Vivamus eu placerat dui. Nullam at elit in purus interdum pretium eleifend sed augue. Vivamus nunc ipsum, porta ac ullamcorper in, iaculis quis elit.</p>
            </div>
            <figure class="imagemLocal">
                <img id="local" src="../../../assets/imgs/dança.png"/>
            </figure>
        </div>
        <div>
            <div class="sobre">
                <h2>Luta</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce diam dolor, venenatis vitae fringilla eget, pretium in nunc. In turpis est, eleifend molestie molestie pretium, aliquam non neque. Etiam porttitor sem nulla, eget laoreet elit rhoncus quis. Suspendisse vitae mollis enim, non consectetur nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue accumsan eros, id consectetur quam accumsan dignissim. Nulla et lacus leo. Proin nibh mauris, congue id nisi id, placerat iaculis velit. Quisque eget nibh nec felis euismod gravida sed a risus. Donec scelerisque metus justo, eu sagittis quam congue in. Vivamus eu placerat dui. Nullam at elit in purus interdum pretium eleifend sed augue. Vivamus nunc ipsum, porta ac ullamcorper in, iaculis quis elit.</p>
            </div>
            <figure class="imagemLocal">
                <img id="local" src="../../../assets/imgs/luta.jpg"/>
            </figure>
        </div>
        <footer class="text-center">
            <a href="mailto:mygym@gmail.com" class="text-base primary--text">mygym@gmail.com</a>
            <div class="footer-sociais">
              <a
                href="https://github.com/cibelewatt/mygym" target="_blank"
                target="_blank"
                class="primary--text"><i class="fab fa-github"></i>
                </a>
            </div>
        </footer>
    </div>
</div>
